*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-image: url(speedball.jpg);
    background-size: cover;
    background-position: top left 40%;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-align: center;
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    border: 10px solid #DBF227;
    margin: 0 auto;
    border-radius: 2rem;
    min-width: 50rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3rem;

}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: none;
    padding: 1rem 0;
    color: white;
    font-weight: bold;
    width: 15rem;
    margin: 1rem;
    border-radius: .5rem;
    font-size: 2rem;

}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

#save-el {
    font-size: 2rem;

}

@media ( min-width: 850px ) {
    
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 2rem;
    
    }
    
    .flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    button {
        width: 12rem;
        font-size: 1rem;
    
    }
    
    #save-el {
        font-size: 1rem;
    }
}
